body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Microsoft JhengHei”, Roboto, “Helvetica Neue”, Arial, sans-serif;
    line-height:1.5;
    box-sizing: border-box;
    margin: 0 auto;
    }

h1, h2, h3, h4, h5, h6{
    line-height:1.2;
    margin-bottom: 0px;
    }
    
img{
    display:block;
    max-width: 100%;
    height: auto;
}

.bgSet {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.iconSize {
    width: 80px;
    height: 80px;
}